name: py

on:
  schedule:
    - cron: "0 18 * * 5"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v2
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.10.1
      - name: execute script
        run: |
          python roundup_summary.py
        env:
          github_api_token: ${{ GITHUB_API_TOKEN }}